name: Release

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - main
      - master

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: rust